<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    
    <link rel="shortcut icon" src="favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>B-E-K-N-O</title>


</head>
<body>
   

    <!-- WELCOME -->
    <div class="welcome-container">
        <section class="welcome-section">
            <div class="welcome-banner">
                <img src="images/white-logo.svg" alt="" class="welcome-banner-image">
                    <div class="welcome-banner-text">
                        <span>BEKNO</span>
                    </div>
                </h1>
            </div>
            <div class="welcome-arrows">
            </div>
        </section>
    </div>
    <!-- END OF WELCOME -->

     <!-- Navigation -->
    <!-- END OF Navigation -->

    <!-- section 1 -->
    <div class="about-container">
        <section class="about-section">
            <div class="about-text">
                <h1>
                    About </br>
                    me
                </h1>
                <p>
                    Individual Freelancer,<br>
                    Full Stack Developer,<br>
                    Commitment and Passion,<br>
                    Vision and Purpose,<br>
                    Continuous improvement.
                </p>
            </div>
            <div class="about-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 1 -->

    <!-- section 2 -->
    <div class="ecommerce-container">
        
        <section class="ecommerce-section">
            <div class="ecommerce-text">
                <h1>
                     Technology Services 
                </h1>
                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi delectus fugiat explicabo eius nemo aliquid doloribus facere dolore amet provident repellendus aliquam, facilis eos enim temporibus illum veritatis. Porro, neque.</p>

            </div>
            <div class="ecommerce-wrapper">


                <div class="ecommerce ecommerce1">
                    <h3 class="ecommerce1-title">Develop</h3>
                    <img src="images/coding.svg" class="ecommerce1-image"></img>
                    <ul class="ecommerce1-description">
                        Web Applications<br>
                        Automation and IOT<br>
                        Enterprise Systems<br>
                        Websites<br>
                    </ul>
                </div>


                <div class="ecommerce ecommerce1">
                    <h3 class="ecommerce1-title">Innovate</h3>
                    <img src="images/idea-bulb.svg" class="ecommerce1-image"></img>
                    <p class="ecommerce1-description">
                        Design Thinking Strategy<br>
                        Technology Architecture<br>
                        Digital Product Strategy<br>
                        Innovation Sprints<br>
                    </p>
                </div>


                <div class="ecommerce ecommerce1">
                    <h3 class="ecommerce1-title">Design</h3>
                    <img src="images/prototyping.svg" class="ecommerce1-image"></img>
                    <p class="ecommerce1-description">
                        UI/UX Design<br>
                        UI/UX Research<br>
                        Brand Identity Design<br>
                        Graphic Design<br>
                    </p>
                </div>
                
                <div class="ecommerce ecommerce1">
                    <h3 class="ecommerce1-title">Grow</h3>
                    <img src="images/network.svg" class="ecommerce1-image"></img>
                    <p class="ecommerce1-description">
                        Marketing Strategy<br>
                        Optimization / Analysis<br>
                        Content Marketing<br>
                    </p>
                </div>


               
            </div>
        </section>
    </div>
    <!-- END OF section 2 -->

    <!-- section 3 -->
    <div class="blog-container">
        <section class="blog-section">
                <div class="blog-heading">
                   <h1>bekno<span>.logia</span></h1>
                   <p>Personal Technology Blog</p>
                </div>
            </div>
        </section>
    </div>
    <!-- END OF section 3 -->

    <!-- section 4 -->
    <div class="footer-container">
        <section class="footer-section">
            <div class="social-media">
              <a href="https://github.com/kno-be" class="social-media-link">
                <i class="fab fa-github-square"></i>
              </a>
              <a href="#" class="social-media-link">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="social-media-link">
                <i class="fab fa-instagram-square"></i>
              </a>
              <a href="https://www.linkedin.com/in/bernardoknoblauch/" class="social-media-link">
                <i class="fab fa-linkedin"></i>
              </a>

            </div>
            <p class="copyright">Copyright &copy; BEKNO 2021. All rights reserved.</p>
            <a style="padding-bottom:2rem;" href="https://www.digitalocean.com/?refcode=564b2cd04ce7&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
          </section>
    </div>

    <!-- END OF section 4 -->


    
</body>
</html>