<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>

    <link rel="stylesheet" href="stylesheets/resume.css">

</head>
<body>
    <section class="ab">
        <div class="ab name">
            <span>Be</span>rnardo <span>Kno</span>blauch
            <p class="description">
                Full Stack Developer
            </p>
        </div>
    </section>
    <section class="ca">
        <div>
            <hr>
            <div class="wrapper">
                <div class="card one" >
                    <div class="question">
                        Who </br>
                        Am </br>
                        I? </br>
                    </div>
                    <div class="answer">
                        <p>nflksdjfnosdjmsodvmsidoj</p>
                    </div>
                </div>
                <div class="card two">
                    <h3>BlaBlaBla</h3>
                    <p>nflksdjfnosdjmsodvmsidoj</p>
                </div>
            </div>
            <hr>
        </div>
        
    </section>
    
</body>
</html>