<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    
    <link rel="shortcut icon" src="favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>B-E-K-N-O</title>


</head>
<body>
   

    <!-- WELCOME -->
    <div class="welcome-container">
        <section class="welcome-section">
            <div class="welcome-banner">
                <img src="images/white-logo.svg" alt="" class="welcome-banner-image">
                    <div class="welcome-banner-text">
                        <span>BEKNO</span>
                    </div>
                </h1>
            </div>
            <div class="welcome-arrows">
            </div>
        </section>
    </div>
    <!-- END OF WELCOME -->

     <!-- Navigation -->
    <!-- END OF Navigation -->

    <!-- section 1 -->
    <div class="about-container">
        <section class="about-section">
            <div class="about-text">
                <h1>
                    About </br>
                    me
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente commodi id
                    ducimus beatae laudantium quis impedit
                    esse pariatur natus et.
                </p>
            </div>
            <div class="about-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 1 -->

    <!-- section 2 -->
    <div class="ecommerce-container">
        
        <section class="ecommerce-section">
            <div class="ecommerce-text">
                <h1>
                    e-commerce 
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente commodi id
                    ducimus beatae laudantium quis impedit
                    esse pariatur natus et.
                </p>
            </div>
            <div class="ecommerce-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 2 -->

    <!-- section 3 -->
    <div class="blog-container">
        <section class="blog-section">
                <div class="blog-heading">
                   <h1>bekno<span>.logia</span></h1>
                   <p>Personal Technology Blog</p>
                </div>
            <div class="articles-wrapper">
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> NGINX crash</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> Firewall Basics</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> Financial Python</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
               
            </div>
        </section>
    </div>
    <!-- END OF section 3 -->

    <!-- section 4 -->
    <div class="footer-container">
        <section class="footer-section">
            <div class="social-media">
              <a href="https://github.com/kno-be" class="social-media-link">
                <i class="fab fa-github-square"></i>
              </a>
              <a href="#" class="social-media-link">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="social-media-link">
                <i class="fab fa-instagram-square"></i>
              </a>
              <a href="https://www.linkedin.com/in/bernardoknoblauch/" class="social-media-link">
                <i class="fab fa-linkedin"></i>
              </a>

            </div>
            <p class="copyright">Copyright &copy; BEKNO 2021. All rights reserved.</p>
            <a style="padding-bottom:2rem;" href="https://www.digitalocean.com/?refcode=564b2cd04ce7&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
          </section>
    </div>

    <!-- END OF section 4 -->


    
</body>
</html>