<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" src="favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>B-E-K-N-O</title>
</head>
<body>
   

    <!-- WELCOME -->
    <div class="welcome-container">
        <section class="welcome-section">
            <div class="welcome-banner">
                <img src="images/white-logo.svg" alt="" class="welcome-banner-image">
                    <div class="welcome-banner-text">
                        <span>BEKNO</span>
                    </div>
                </h1>
            </div>
            <div class="welcome-arrows">
            </div>
        </section>
    </div>
    <!-- END OF WELCOME -->

     <!-- Navigation -->
    <!-- END OF Navigation -->

    <!-- section 1 -->
    <div class="about-container">
        <section class="about-section">
            <div class="about-text">
                <h1>
                    About </br>
                    me
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente commodi id
                    ducimus beatae laudantium quis impedit
                    esse pariatur natus et.
                </p>
            </div>
            <div class="about-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 1 -->

    <!-- section 2 -->
    <div class="ecommerce-container">
        
        <section class="ecommerce-section">
            <div class="ecommerce-text">
                <h1>
                    e-commerce 
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente commodi id
                    ducimus beatae laudantium quis impedit
                    esse pariatur natus et.
                </p>
            </div>
            <div class="ecommerce-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 2 -->

    <!-- section 3 -->
    <div class="blog-container">
        <section class="blog-section">
                <div class="blog-heading">
                   <h1>bekno<span>.logia</span></h1>
                   <p>Personal Technology Blog</p>
                </div>
            <div class="articles-wrapper">
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> NGINX crash</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> NGINX crash</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
                <div class="article">
                    <img src="" alt="" class="article-image">
                    <h1 class="article-heading"> NGINX crash</h1>
                    <h3 class="article-info">by Bernardo Knoblauch</h3>
                </div>
               
            </div>
        </section>
    </div>
    <!-- END OF section 3 -->

    <!-- section 4 -->
    <!-- END OF section 4 -->


    
</body>
</html>