<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" src="favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>B-E-K-N-O</title>
</head>
<body>
   

    <!-- WELCOME -->
    <div class="welcome-container">
        <section class="welcome-section">
            <div class="welcome-banner">
                <img src="images/white-logo.svg" alt="" class="welcome-banner-image">
                    <div class="welcome-banner-text">
                        <span>BEKNO</span>
                    </div>
                </h1>
            </div>
            <div class="welcome-arrows">
            </div>
        </section>
    </div>
    <!-- END OF WELCOME -->

     <!-- Navigation -->
    <!-- END OF Navigation -->

    <!-- section 1 -->
    <div class="about-container">
        <section class="about-section">
            <div class="about-text">
                <h1>
                    About us
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sapiente commodi id
                    ducimus beatae laudantium quis impedit
                    esse pariatur natus et.
                </p>
            </div>
            <div class="about-wrapper">
               
            </div>
        </section>
    </div>
    <!-- END OF section 1 -->

    <!-- section 2 -->
    <!-- END OF section 2 -->

    <!-- section 3 -->
    <!-- END OF section 3 -->

    <!-- section 4 -->
    <!-- END OF section 4 -->


    
</body>
</html>