@font-face {
    font-family: 'Oswald-Light';
    src: url('../typography/Oswald/static/Oswald-ExtraLight.ttf');
    font-weight: extra-light;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../typography/Oswald/static/Oswald-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../typography/Montserrat/Montserrat-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'Bungee';
    src: url('../typography/Bungee/Bungee-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'Bungee-Hairline';
    src: url('../typography/Bungee_Hairline/BungeeHairline-Regular.ttf');
    font-weight: regular;
}
/* *START OF COMMOM STYLES */
* {
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    height: -webkit-fill-available;
}

body {
    background-color: blue;
    overflow-x: hidden;
    min-height: -webkit-fill-available;
}


/* *END OF COMMOM STYLES */

/* SECTION ONE */
section {
    display: flex;
}

section.ab {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60rem;
    width: 100%;
}
.ab div {
    max-width: 50rem;
    line-height: 80%;
}
.ab.name {
    font-family: Bungee;
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.ab.name span {
    color: chocolate;
}
.description{
    font-family: Montserrat-Regular;
    font-weight: 900;
    color: black;
    font-size: 2rem;
    text-transform: none;
}
/* END OF SECTION ONE */

/* SECTION TWO */
section.ca {
    height: 40rem;
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 15rem;
    justify-content: center;
    align-items: center;
    
}
.ca div {
    padding: 2rem;
}
.wrapper {
    max-width: 80rem;
    
}
.card{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 2rem;
    margin:1rem;
}

.question {
    font-family: Bungee;
    line-height: 80%;
    font-size: 3rem;
}

.answer {
    font-family: Oswald;
    font-size: 1.5rem;
}
/* END OF SECTION TWO */

